<div class="card">
    <div class="card-body">
        <p>
            Este ejemplo contiene la parte esencial para genera un reporte con jsPDF
        </p>
        <p>
            use el siguiente link para ver el ejemplo de instalacion
        </p>
        <p>
            https://www.youtube.com/watch?v=hMqfVGj-wQQ&ab_channel=LuisWest
        </p>
    </div>
    <hr>
    <div class="card-body">
        <p>JsPDF</p>
        https://www.npmjs.com/package/jspdf

        <p>JsPDF-Autotable</p>
        https://www.npmjs.com/package/jspdf-autotable
    </div>
</div>

